* {
  font-family: sans-serif;
  font-size: 14pt;
}

body {
  background-color: linen;
}

button {
  border-radius: 10px;
  box-shadow: 5px 5px 5px 0 gray;
  padding: 5px;
  width: 50px;
}

div {
  margin: 10px;
}

#enter {
  width: 70px;
}
